<div class="login-root">
    <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">

        <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
            <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
                <h1><a href="" rel="dofollow">Angular Form</a></h1>
            </div>
            <div class="formbg-outer">
                <div class="formbg">
                    <div class="formbg-inner padding-horizontal--48">
                        <span class="padding-bottom--15">Sign in to your account</span>



                        <form id="stripe-login" [formGroup]="regForm">

                            <div class="field padding-bottom--24">
                                <label for="email">UserName</label>
                                <input type="text" name="username" formControlName="userName">
                               
                                <div *ngIf="regForm.get('userName')?.touched && regForm.get('userName')?.errors" class="error-message">
                                  <span *ngIf="regForm.get('userName')?.errors?.['required']">
                                    Username is required
                                  </span>
                                  <span *ngIf="regForm.get('userName')?.errors?.['minlength']">
                                    Minimum length should be 4
                                  </span>
                                  <span *ngIf="regForm.get('userName')?.errors?.['maxlength']">
                                    Maximum length should be 20
                                  </span>
                                  <span *ngIf="regForm.get('userName')?.errors?.['whiteSpace']">
                                    No white space allowed here
                                  </span>
                                  <span *ngIf="regForm.get('userName')?.errors?.['userExist']">
                                    This username already exist
                                  </span>
                                </div>
                                
                            </div>
                            <div class="field padding-bottom--24">
                                <label for="email">Email</label>
                                <input type="email" name="email" formControlName="email">
                            </div>
                            <div class="field padding-bottom--24">
                                <div class="grid--50-50">
                                    <label for="password">Password</label>

                                </div>
                                <input type="password" name="password" formControlName="password">
                            </div>

                            <div class="field padding-bottom--24">
                                <button type="submit" class="submit" name="submit" (click)="signUp()">Submit </button>
                            </div>

                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>