<div>
  <div>
    <h2 style="text-align: center;">Feature Blog</h2>
    <div class="outer-div">
      <div *ngFor="let blog of allBlogs" class="blog-container">
        <!-- <app-blog [blog]="blog" (onLikeEvent)="onLike()"></app-blog> -->
      </div>
    </div>
  </div>

  <div>
    <h2 style="text-align: center;">Food Blog</h2>
    <div class="outer-div">
      <div *ngFor="let blog of foodBlogs" class="blog-container">
        <!-- <app-blog [blog]="blog"></app-blog> -->
      </div>
    </div>
  </div>

</div>