<div class="flex">
  <div class="border rounded-md w-42 m-4">
    <img class="mt-5" [src]="'https://media.istockphoto.com/id/1364035705/photo/fresh-broccoli-on-white-background.jpg?s=612x612&w=0&k=20&c=fEcEq65rKBmT8PltpAyg_-na0WomTJ6S6m04uXQQtJs='" alt="apple" width="150" height="150">
    <footer class="bg-gray-100 mt-7">
      <span class="ml-3">Broccoli</span>
      <span class="m-3 pr-2 pl-2 border rounded-sm bg-green-600 text-white cursor-pointer">+</span>
      <span class="m-3 pr-2 pl-2 border rounded-sm bg-red-600 text-white cursor-pointer">-</span>
    </footer>
  </div>
  <div class="border rounded-md w-42 m-4">
    <img [src]="'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ7UH64K2_JbWj--JEDbWcTUfrwSvo7Xuk1tm4NYExO2VhZTWm8Qs1YdW1IctLimuJqONWxfLEUk3IIrtluNW1nDg'" alt="apple" width="150" height="150">
    <footer class="bg-gray-100 mt-3">
      <span class="ml-2">Tomatoes</span>
      <span class="m-3 pr-2 pl-2 border rounded-sm bg-green-600 text-white cursor-pointer">+</span>
      <span class="m-3 pr-2 pl-2 border rounded-sm bg-red-600 text-white cursor-pointer">-</span>
    </footer>
  </div>
  <div class="border rounded-md w-42 m-4">
    <img class="mt-6" [src]="'https://img.freepik.com/premium-photo/baby-carrots-white-wall_55883-9445.jpg?ga=GA1.1.2122976041.1733204498&semt=ais_hybrid&w=740'" alt="apple" width="150" height="150">
    <footer class="bg-gray-100 mt-11">
      <span class="m-3">Carrots</span>
      <span class="m-3 pr-2 pl-2 border rounded-sm bg-green-600 text-white cursor-pointer">+</span>
      <span class="m-3 pr-2 pl-2 border rounded-sm bg-red-600 text-white cursor-pointer">-</span>
    </footer>
  </div>
</div>
